<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <div class="home">

      <!-- Introductory Section -->
      <section class="intro-section">
        <h1>Information Technology Ethics Guide</h1>
        <p>Comprehending and upholding information ethics is essential for both individuals and companies in the quickly changing digital era. An overview of important rules and recommended procedures for handling, disseminating, and utilizing information in an ethical and responsible manner is given in this guide.</p>
      </section>

      <section class="ethics-guidelines">
        <div class="col-md-6">
          <div class="row">
            
            <div class="media-heading" style="text-align: center;">
              <a href="https://www.google.com/search?q=information+technology+ethics&rlz=1C1CHBF_enUS1024US1024&oq=information+technology+ethi&gs_lcrp=EgZjaHJvbWUqBwgAEAAYgAQyBwgAEAAYgAQyBwgBEAAYgAQyBggCEEUYOTIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIICAYQABgWGB4yCAgHEAAYFhgeMggICBAAGBYYHjIICAkQABgWGB6oAgCwAgA&sourceid=chrome&ie=UTF-8" target="_blank">Learn More About Information Technology Ethics</a>
            </div>          
          </div>
        </div>
      </section>

    </div>
  </div>
</main>
